<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add route</title>
</head>
<body>

<h1>Add route</h1>
<form action="#" th:action="@{/add}" th:object="${route}" method="post">
    <p>name: </p><input type="text" th:field="*{name}"/>
    <p>grade: </p>
    <select th:field="*{grade}">
        <option th:each="grade : ${T(net.ddns.ziehlke.eletopo.model.Grade).values()}"
                th:value="${grade}"
                th:text="${grade.kurtyki}">
        </option>
    </select>
    <p>line no: </p><input type="text" th:field="*{lineNo}"/>

    <br>

    <p>Creation date:</p>
    <input type="date" th:field="*{dateOfCreation}"/>


    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>


</body>
</html>