<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="/webjars/bootstrap/css/bootstrap.min.css"/>

    <title>Add route</title>
</head>
<body>
<div class="container">
    <h1>Add route</h1>
    <form action="#" th:action="@{/add}" th:object="${route}" method="post">

        <ul>
            <li th:each="e : ${#fields.detailedErrors()}">
                <span th:text="${e.global} ? '*' : ${e.fieldName}">The field name</span> -->
                <span th:text="${e.message}">The error message</span>
            </li>
        </ul>


        <div class="form-group">
            <label for="routeName">Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="routeName" aria-describedby="routeNameHelp"
                   placeholder="Enter route name">
        </div>

        <div class="form-group">
            <label for="routeAuthor">Author</label>
            <input type="text" th:field="*{author}" class="form-control" id="routeAuthor"
                   aria-describedby="routeAuthorHelp" placeholder="Enter route author name">
        </div>


        <div class="form-group">
            <label for="routeGrade">Grade</label>
            <select th:field="*{authorGrade}" class="form-control" id="routeGrade">
                <option th:each="grade : ${T(net.ddns.ziehlke.eletopo.model.Grade).values()}"
                        th:value="${grade}"
                        th:text="${grade.kurtyki}">
                </option>
            </select>
        </div>


        <div class="form-group">
            <label for="lineNumber">Line number</label>
            <select th:field="*{lineNo}" class="form-control" id="lineNumber">
                <option th:each="lineNo : ${T(net.ddns.ziehlke.eletopo.model.Route.LineNo).values()}"
                        th:value="${lineNo}"
                        th:text="${lineNo.lineNo}">
                </option>
            </select>
        </div>


        <div class="form-group">
            <label for="creationDate">Creation date</label>
            <input type="date"
                   min="2004-09-18"
                   th:max="${#temporals.format(localDate, 'yyyy-MM-dd')}"
                   th:field="*{dateOfCreation}"
                   class="form-control" id="creationDate" aria-describedby="routeCreationDateHelp"/>
        </div>


        <div class="form-group">
            <label for="Color">Color</label>
            <input type="color" th:field="*{color}" class="form-control" id="Color" aria-describedby="routeColorHelp"/>
        </div>

        <div class="custom-control custom-switch form-group">
            <input type="checkbox" class="custom-control-input" id="customSwitch1" th:checked="*{active}">
            <label class="custom-control-label" for="customSwitch1">Route is active</label>
        </div>

        <input class="btn btn-primary" type="submit" value="Submit"/>

    </form>
</div>
</body>
</html>