<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Add route</title>
</head>
<body>
<div class="container">
    <h1>Add route</h1>
    <form action="#" th:action="@{/add}" th:object="${route}" method="post">

        <ul>
            <li th:each="e : ${#fields.detailedErrors()}">
                <span th:text="${e.global} ? '*' : ${e.fieldName}">The field name</span> -->
                <span th:text="${e.message}">The error message</span>
            </li>
        </ul>


        <p>Route name: </p><input type="text" th:field="*{name}"/>
        <p>Grade: </p>
        <select th:field="*{authorGrade}">
            <option th:each="grade : ${T(net.ddns.ziehlke.eletopo.model.Grade).values()}"
                    th:value="${grade}"
                    th:text="${grade.kurtyki}">
            </option>
        </select>

        <p>Line no: </p>
        <select th:field="*{lineNo}">
            <option th:each="lineNo : ${T(net.ddns.ziehlke.eletopo.model.Route.LineNo).values()}"
                    th:value="${lineNo}"
                    th:text="${lineNo.lineNo}">
            </option>
        </select>

        <br>

        <p>Creation date: </p>
        <input type="date"
               min="2004-09-18"
               th:max="${#temporals.format(localDate, 'yyyy-MM-dd')}"
               th:field="*{dateOfCreation}"/>

        <p>color: <input type="color" th:field="*{color}"/></p>

        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"
        integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP"
        crossorigin="anonymous"></script>
</body>
</html>