<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="/webjars/bootstrap/css/bootstrap.min.css"/>

    <title>Eletopo</title>
</head>
<body>
<div class="container">

    <div class="alert alert-success" sec:authorize="isAuthenticated()">
        <a href="#" class="close" data-dismiss="alert"
           aria-label="close">×</a>
        <strong>Success!</strong>
        <div>
            Logged user: <span sec:authentication="name">username</span>
            Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
        </div>
    </div>


    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Route name</th>
            <th scope="col">Author</th>
            <th scope="col">Author's grade</th>
            <th scope="col">Your grade</th>
            <th scope="col">Line number</th>
            <th scope="col">Date of creation</th>
            <th scope="col">Color</th>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${routes.empty}">
            <td colspan="7"> No routes available</td>
        </tr>

        <tr th:each="route : ${routes}">
            <th scope="row" th:text="${route.name}"> Route name</th>
            <td th:text="${route.author}"> Route author</td>
            <td th:text="${route.authorGrade.getKurtyki()}"> Author's grade</td>

            <td>
                <form action="#" th:action="@{/}" th:object="${vote}" method="post">
                    <input th:type="hidden" th:name="routeId" th:value="${route.id}"/>
                    <select th:field="*{userGrade}" class="form-control" onchange="this.form.submit()">
                        <option value="">-</option>
                        <option th:each="grade : ${T(net.ddns.ziehlke.eletopo.model.Grade).values()}"
                                th:value="${grade}"
                                th:text="${grade.kurtyki}">
                        </option>
                    </select>
                </form>
            </td>

            <td th:text="${route.lineNo.lineNo}"> Line number</td>
            <td class="text-muted" th:text="${route.dateOfCreation}"> Date of creation</td>
            <td th:bgcolor="${route.color}"></td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>