<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Eletopo</title>

</head>
<body>

<div sec:authorize="isAuthenticated()">
Logged user: <span sec:authentication="name">username</span>
Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
</div>


<table>
    <thead>
    <tr>
        <th> Route name</th>
        <th> Grade</th>
        <th> Line number</th>
        <th> Date of creation</th>
        <th> Color</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${routes.empty}">
        <td colspan="2"> No routes available</td>
    </tr>
    <tr th:each="route : ${routes}">
        <td><span th:text="${route.name}"> Route name </span></td>
        <td><span th:text="${route.grade}"> Grade </span></td>
        <td><span th:text="${route.lineNo}"> Line number </span></td>
        <td><span th:text="${route.dateOfCreation}"> Date of creation </span></td>
        <td><span th:text="${route.color}"> Color </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>