<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Eletopo</title>

    <script th:inline="javascript">
        function validate() {
            if (document.f.username.value == "" && document.f.password.value == "") {
                alert(/*[[#{message.username} + #{message.password}]]*/);
                document.f.username.focus();
                return false;
            }
            if (document.f.username.value == "") {
                alert(/*[[#{message.username}]]*/);
                document.f.username.focus();
                return false;
            }
            if (document.f.password.value == "") {
                alert(/*[[#{message.password}]]*/);
                document.f.password.focus();
                return false;
            }
        }

    </script>
    <style type="text/css">
        .wrapper {
            width: 500px;
            margin-left: auto;
            margin-right: auto
        }

        label {
            padding-left: 0 !important
        }
    </style>
</head>


<body>
<div th:if="${param.message != null}" class="alert alert-info" th:text="${param.message[0]}">message</div>
<div th:if="${param.error != null}" class="alert alert-danger" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">
    error
</div>

<div class="container">
    <div class="row wrapper">
        <h1 th:text="#{label.form.loginLink}">Header</h1>
        <a href="?lang=en" th:text="#{label.form.loginLink}">login</a> |
        <br/><br/>

        <form name='f' action="login" method='POST' onsubmit="return validate();">
            <span id="welcometext">&nbsp;</span>

            <br/><br/>
            <label class="col-sm-4" th:text="#{label.user.email}">Email</label>
            <span class="col-sm-8"><input class="form-control" type='text' name='username' value=''/></span>

            <br/><br/>
            <label class="col-sm-4" th:text="#{label.user.password}">password</label>
            <span class="col-sm-8"><input class="form-control" type='password' name='password'/></span>

            <br/><br/>
            <input class="btn btn-primary" name="submit" type="submit" th:value="#{label.form.submit}"/>

        </form>
        <br/> Current Locale : <span th:text="${#locale}"></span><br/><br/>
        <a class="btn btn-default" th:href="@{/register.html}" th:text="#{label.form.loginSignUp}">signup</a>
        <br/><br/>
        <a class="btn btn-default" th:href="@{/forgetPassword.html}" th:text="#{message.resetPassword}">reset</a>
    </div>
</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"
        integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP"
        crossorigin="anonymous"></script>
</body>
</html>